<div class="box warning"><i class="ico-warning"></i>
  There was an error onboarding your shop. Shopify requires your store to be on the <a href="https://www.shopify.ca/pricing" target="_blank">Advanced plan or higher</a> to get access to the Real-time carrier shipping API, which this app requires. Unfortunately, there's nothing Parcelify can do. We've heard stories of people getting access to the API by calling Shopify support, but don't quote us on that. Good luck!
</div>

<% content_for :shopify_app_javascript do %>
  ShopifyApp.Bar.initialize({
    buttons: {
      primary: { label: "Retry", callback: function() {
        window.location = "<%= retry_path %>"
      }}
    }
  });
<% end %>
